<section class="page-section" id="{{ site.data.sitetext[site.locale].download.section | default: "download" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].download.title | default: "Download" }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 mx-auto text-center" style="margin-bottom: 3em;">
        <div class="large text-muted">{{ site.data.sitetext[site.locale].download.body | markdownify }}</div>
      </div>
    </div>
    <div class="row text-center">
      <!-- <div class="col-md-2"></div> -->
      <div class="col-lg-4" style="margin-bottom: 2em;">
        <!-- <div style="margin-bottom: 15px;"><img src="/assets/img/brands/windows.png" height="128" /></div> -->
        <div class="text-muted">{{ site.data.sitetext[site.locale].download.windows.requirements | markdownify }}</div>
        <div style="margin-bottom: 15px; height: 75px;">
          <a href="https://apps.microsoft.com/detail/Praisenter/9PHHWB94W800?launch=true&mode=mini">
            <img src="https://get.microsoft.com/images/en-us%20dark.svg" height="82" /> <!--width="200"-->
          </a>
        </div>
        <div>
          Alternatively you can <a href="https://github.com/praisenter/praisenter/releases/tag/latest" target="_blank">download an .msi</a> and use the <a href="/install#windows">install help</a> to install it manually
        </div>
      </div>
      <div class="col-lg-4" style="margin-bottom: 2em;">
        <!-- <div style="margin-bottom: 15px;"><img src="/assets/img/brands/ubuntu.png" height="128" /></div> -->
        <div class="text-muted">{{ site.data.sitetext[site.locale].download.ubuntu.requirements | markdownify }}</div>
        <div style="margin-bottom: 15px; height: 75px;">
          <a href="https://snapcraft.io/praisenter">
            <img alt="Get it from the Snap Store" src="https://snapcraft.io/en/dark/install.svg" height="82" />
          </a>
        </div>
        <div>
          Alternatively you can <a href="https://github.com/praisenter/praisenter/releases/tag/latest" target="_blank">download an .deb</a> and use the <a href="/install#ubuntu">install help</a> to install it manually
        </div>
      </div>
      <div class="col-lg-4" style="margin-bottom: 2em;">
        <!-- <div style="margin-bottom: 15px;"><img src="/assets/img/brands/macos.png" height="128" /></div> -->
        <div class="text-muted">{{ site.data.sitetext[site.locale].download.macos.requirements | markdownify }}</div>
        <div style="margin-bottom: 15px; height: 75px;">
          <a href="https://apps.apple.com/us/app/praisenter/id6756894623?mt=12&itscg=30200&itsct=apps_box_badge&mttnsubad=6756894623" style="display: inline-block;">
            <img src="https://toolbox.marketingtools.apple.com/api/v2/badges/download-on-the-app-store/black/en-us?releaseDate=1769472000" alt="Download on the App Store" style="width: 246px; height: 82px; vertical-align: middle; object-fit: contain;" />
            </a>
        </div>
        <div>
          No alternative download method is currently available for macOS.
        </div>
      </div>
    </div>
  </div>
</section>
