{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="page-section" id="{{ site.data.sitetext[site.locale].help.section | default: "help" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">
          {{ site.data.sitetext[site.locale].help.title | markdownify | default: "Need help?" }}</h2>
        <h3 class="section-subheading" style="color: white;">{{ site.data.sitetext[site.locale].help.text | default: "" }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12 text-center">
            <a href="{{ site.data.sitetext[site.locale].help.manual-url }}" class="btn btn-primary btn-xl" role="button" style="width: 200px;">
              {{ site.data.sitetext[site.locale].help.manual | default: "Use Manual" }}
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ site.data.sitetext[site.locale].help.discussions-url }}" class="btn btn-primary btn-xl" role="button" style="width: 200px;">
              {{ site.data.sitetext[site.locale].help.discussions | default: "Discussions" }}
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ site.data.sitetext[site.locale].help.issues-url }}" class="btn btn-primary btn-xl" role="button" style="width: 200px;">
              {{ site.data.sitetext[site.locale].help.issues | default: "Issues" }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% else %}
<section class="page-section" id="{{ site.data.sitetext.help.section | default: "help" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">
          {{ site.data.sitetext.help.title | markdownify | default: Need help? }}</h2>
        <h3 class="section-subheading" style="color: white;">{{ site.data.sitetext.help.text | default: "" }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12 text-center">
            <a href="/install" class="btn btn-primary btn-xl" role="button" style="width: 200px;">
              Install help
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ site.data.sitetext.help.discussions-url }}" class="btn btn-primary btn-xl" role="button" style="width: 200px;">
              {{ site.data.sitetext.help.discussions | default: "Discussions" }}
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ site.data.sitetext.help.issues-url }}" class="btn btn-primary btn-xl" role="button" style="width: 200px;">
              {{ site.data.sitetext.help.issues | default: "Issues" }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}